:root {
    --color1: #242582;
    --color2: #553D67;
    --color3: #F64C72;
    --color4: #99738E;
    --color5: #2F2FA2;
}

* {
    background-color: var(--color1);
}

input[type="text"], textarea {

    background-color : #d1d1d1; 
    /* position: relative;  */
    /* outline: none; 
    white-space: pre-wrap; 
    overflow-wrap: break-word; */
    width: inherit;
    height: inherit;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color3);

    position: relative; 
    outline: none; 
    white-space: pre-wrap; 
    overflow-wrap: break-word;
    width: 75%;
    height: 25%;
}

label {
    width: 75%;
    height: 25%; 
}

.entry {
    position: relative;
    /* top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto; */
    width: 100%;
    height: 100%; 
}
